In [6]:
import pandas as pd
from home_credit.data_preprocessing import remove_majority_null_cols

# Explore Train Base csv

In [2]:
base_df = pd.read_csv('../data/raw/csv_files/train/train_base.csv', index_col='case_id')

In [3]:
base_df

        date_decision   MONTH  WEEK_NUM  target
case_id
0          2019-01-03  201901         0       0
1          2019-01-03  201901         0       0
2          2019-01-04  201901         0       0
3          2019-01-03  201901         0       0
4          2019-01-04  201901         0       1
...               ...     ...       ...     ...
2703450    2020-10-05  202010        91       0
2703451    2020-10-05  202010        91       0
2703452    2020-10-05  202010        91       0
2703453    2020-10-05  202010        91       0
2703454    2020-10-05  202010        91       0

[1526659 rows x 4 columns]

In [4]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1526659 entries, 0 to 2703454
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   date_decision  1526659 non-null  object
 1   MONTH          1526659 non-null  int64
 2   WEEK_NUM       1526659 non-null  int64
 3   target         1526659 non-null  int64
dtypes: int64(3), object(1)
memory usage: 58.2+ MB

In [5]:
base_df.isnull().sum()

date_decision    0
MONTH            0
WEEK_NUM         0
target           0
dtype: int64